<p>reuse works!</p>

<!-- design form here ---->
<div *ngIf="formInput">
<form [formGroup] ="formInput">
<!-- design form control and bind control-->

<div class="xyz">
    <p>{{formInput?.get('question')?.value}}</p>
</div>
<div class="xyz">
    <select formControlName = "option1" >
        <option value="option11">first row</option>
        <option value="option12">first row-2</option>
    </select>
</div>

<div class="xyz">
    <select formControlName = "Option2">
        <option value="option21">second row</option>
        <option value="option22">second row-2</option>
    </select>
</div>

<div class="xyz">
    <select formControlName = "option3">
        <option value="option31">third row</option>
        <option value="option32">third row-2</option>
    </select>
</div>
</form>
</div>
