

<div>
   <form [formGroup]="DoctorForm">
    <div class="inpt_form_row">
        <div class="display_flex">
            <div class="inpt_title">doctorName</div>
            <mat-form-field appearance="outline" class="inpt_field">
                <mat-label>doctorName</mat-label>
                <input type="text" matInput formControlName="doctorName" >
            </mat-form-field>
        </div>
        <div class="display_flex">
            <div class="inpt_title">speciality</div>
            <mat-form-field appearance="outline" class="inpt_field">
                <mat-label> speciality</mat-label>
                <input type="text" matInput formControlName= "speciality">
            </mat-form-field>
        </div>
    </div>
   </form>
    
    <div class="footer">
        <button class="no-hover-effect" color="warn" mat-button disableRipple>CANCEL</button>
        <button class="no-hover-effect" color="primary" mat-button disableRipple mat-raised-button (click)="submit()">SAVE</button>
    </div>

</div>