<div class="heading">
    <h1>Reactive_Form Component Example</h1>
</div>

<div>
    <div class="inpt_form_row">
        <div class="display_flex">
            <div class="inpt_title">First_Name</div>
            <mat-form-field appearance="outline" class="inpt_field">
                <mat-label>Enter First_Name</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
        <div class="display_flex">
            <div class="inpt_title">Enter Last_Name</div>
            <mat-form-field appearance="outline" class="inpt_field">
                <mat-label> Enter Last_Name</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="inpt_form_row">
        <div class="display_flex">
            <div class="inpt_title">Age</div>
            <mat-form-field appearance="outline" class="inpt_field">
                <mat-label>Enter Age</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
        <div class="display_flex">
            <div class="inpt_title">Role</div>
            <mat-form-field appearance="outline" class="inpt_field">
                <mat-label> Enter Role</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="inpt_form_row">
        <div class="display_flex">
            <div class="inpt_title">Experiences</div>
            <mat-form-field appearance="outline" class="inpt_field">
                <mat-label>Enter Experiences</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
        <div class="display_flex">
            <div class="inpt_title">Address</div>
            <mat-form-field appearance="outline" class="inpt_field">
                <mat-label> Enter Address</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="footer">
        <button class="no-hover-effect" color="warn" mat-button disableRipple>CANCEL</button>
        <button class="no-hover-effect" color="primary" mat-button disableRipple mat-raised-button>SAVE</button>
    </div>

</div>