<div class="heading">Angular form.........
  <p>Angular provides two ways to work with forms: template-driven forms and reactive forms
    (also known as model-driven forms). Template-driven forms are the default way to work with
    forms in Angular. With template-driven forms, template directives are used to build an internal
    representation of the form. With reactive
    forms, you build your own representation of a form in the component class.
  </p>
</div>
<div class="display_card">
  <div class="card_title">Reactive_Form</div>
  <div class="card_content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, aliquam.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, aliquam.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, aliquam.
  </div>
  <button mat-button color="primary" routerLink="Reactive_form">Read more......</button>

</div>

<div class="display_card">
  <div class="card_title">Template_Driven_Form</div>
  <div class="card_content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, aliquam.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, aliquam.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, aliquam.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, aliquam.
  </div>
  <button mat-button color="primary" routerLink="Template_drive_form">Read more ......</button>
</div>