<p>form works!</p>
<form [formGroup] = "form">
    <div class="example-container">
        <mat-form-field appearance="outline">
          <mat-label>Enter your FirstName</mat-label>
          <input matInput placeholder="firstName" formControlName="firstName" required>
         </mat-form-field>
      </div>
      
      <div class="example-container">
        <mat-form-field appearance="outline">
          <mat-label>Enter your lastName</mat-label>
          <input matInput placeholder="lastName" formControlName="lastName" required>
          </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field appearance="outline">
          <mat-label>Enter your Age</mat-label>
          <input matInput placeholder="Age" formControlName="Age" required>
          </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="email" formControlName="email" required>
         </mat-form-field>
      </div>

      
</form>