<h1>popup Form !!!!!!!!!!</h1>
<!-- <form [formGroup] ="form">
    <mat-form-field appearance="outline">
        <mat-label>Enter firstName</mat-label>
        <input matInput placeholder="Placeholder" formControll= "firstName">
       </mat-form-field>

       <mat-form-field appearance="outline">
        <mat-label>Enter lastName</mat-label>
        <input matInput placeholder="Placeholder" formControll= "lastName">
       </mat-form-field>

       <mat-form-field appearance="outline">
        <mat-label>Enter role</mat-label>
        <input matInput placeholder="Placeholder" formControll= "role">
       </mat-form-field>

       <mat-form-field appearance="outline">
        <mat-label>Enter age</mat-label>
        <input matInput placeholder="Placeholder" formControll= "Age">
       </mat-form-field>
</form> -->

<p>{{data}}</p>

<button mat-button color = "accent" (click) ="close()">Cancel</button>
<button mat-button color="primary">Save</button>