<mat-stepper linear #stepper>
    <mat-step>
      <div >
        <ng-template matStepLabel>Fill out your name</ng-template>
        <input matInput  placeholder="Last name, First name">
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>
    <mat-step >
      <div>
        <ng-template matStepLabel>Fill out your address</ng-template>
        
          <input matInput  placeholder="Ex. 1 Main St, New York, NY">
        
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  